@model Novel.Bll.Entities.NovelEntity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NovelEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChapterDirectoryUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChapterDirectoryUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NovelDirectory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NovelDirectory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChaptersPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChaptersPath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
