@model IEnumerable<Novel.Bll.Entities.NovelEntity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tbody>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChapterDirectoryUrl)
            </th>
            <th></th>
        </tr>
    </tbody>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SourceID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChapterDirectoryUrl)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Chapters","Index", "Chapter", new { chapterId = item.ID },null) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
