@model Novel.Bll.DB.tChapter

@{
    Layout = "~/Views/Shared/_CleanLayout.cshtml";
    ViewBag.Title = "@Model.Title";
}
<div class="chapters">
    <div class="chapter">
        <h2>@Model.Title</h2>
        @Html.Raw(Model.Body)
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            var nextChapterId = @(Model.NextChapterID??0);
            var temp = $("#chapterBody").html();

            //$('.chapter').on('scrollSpy:enter', function () {
            //    getNext(function(chapter){
            //        appendChapterHtml(chapter);

            //        addScrollSpyListener();
            //    }, null)

            //});
            function addScrollSpyListener() {
                $('.chapter').on('scrollSpy:enter', function () {
                    var $this = $(this);
                    if($(".chapter").size()-1==$(".chapter").index($this)){
                        getNext(function(chapter){
                            // 取消当前监听
                            $(".chapter").off("scrollSpy:exit");

                            appendChapterHtml(chapter);

                            addScrollSpyListener();

                            console.log($(".chapter").size())
                            $('.chapter').scrollSpy();
                        })
                    }
                });
            }
            addScrollSpyListener();
            $('.chapter:last').scrollSpy();
            function getNext(success,error)
            {
                success = success || function () { };
                error = error || function () { };
                var data =
                $.ajax({
                    url: "@Url.Action("GetChapter", "Chapter")",
                    type: "get",
                    dataType: "json",
                    data: { chapterId: nextChapterId },
                    async: true,
                    success: function (resp) {
                        if (resp.success) {
                            nextChapterId = resp.data.NextChapterID;
                            success(resp.data);
                        } else {
                            error();
                        }
                    }
                })
            }

            function appendChapterHtml(chapter){
                var html= $("<div class='chapter'></div>");
                html.append("<h2 class='chapter-title'>"+chapter.Title+"</h2>");
                html.append("<div class='chapter-body'>"+chapter.Body+"</div>");
                $(".chapter").last().after(html);
            }
        })

    </script>
    }